%h1 New Session
- form_for @session, :url => { :action => 'create' } do |f|
  = f.error_messages
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p= f.submit 'Login'
= link_to 'New User', new_user_path
|
= link_to 'Back', articles_path
