<h1>New Session</h1>

<% form_for @session, :url => { :action => 'create' } do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Login' %>
  </p>
<% end %>

<%= link_to 'New User', new_user_path %> |
<%= link_to 'Back', articles_path %>