!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title= controller.action_name
    = stylesheet_link_tag 'screen', :media=>'screen, projection'
    = stylesheet_link_tag 'print', :media=>'print'
    = stylesheet_link_tag 'global', :media=>'screen, projection'
    = wym_editor_initialize
  %body
    .container
      = current_user.email
      %p{ :style => "color: green" }= flash[:notice]
      %p{ :style => "color: red" }= flash[:error]
      = yield
    .footer
      %p
        %a{ :href => "http://validator.w3.org/check?uri=referer" }
          %img.top{ :src => "/images/badges/valid.png", :height => "31", :alt => "Valid HTML 4.01 Strict", :width => "88" }
